<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-Learning Rec. | Edit Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://resources.ctsapprentice.ch/css/main/bootstrap.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="icon" href="https://resources.ctsapprentice.ch/images/icon/cts.ico">
</head>
<body data-aos="fade-up" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0" class="aos-init aos-animate">
    <div class="container">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">E-Learning Recommendations</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">View Profile</a>
                            <a class="dropdown-item" href="#">Edit Profile</a>
                            <a class="dropdown-item" download="E_LEARNING_REC_MANUAL.pdf" href="#">Help</a>
                        </div>
                    </li>

                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="adminNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">User Management</a>
                        </div>
                    </li>

                    <!--- CHANGE PASSWORD -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-asterisk" title="Change Password" data-toggle="tooltip" data-placement="bottom" data-original-title="Change Password"></i>
                        </a>
                    </li>

                    <!--- LOGOUT -->
                    <li class="nav-item">
                        <form id="my_form" th:action="@{/logout}" method="post">
                            <a class="nav-link" href="javascript:{}" onclick="document.getElementById('my_form').submit();">
                                <i class="fas fa-sign-out-alt" title="Logout" data-toggle="tooltip" data-placement="bottom" data-original-title="Sign Out"></i>
                            </a>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>