<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-Learning Rec. | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://resources.ctsapprentice.ch/css/main/bootstrap.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="icon" href="https://resources.ctsapprentice.ch/images/icon/cts.ico">
</head>
<body data-aos="fade-up" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0" class="aos-init aos-animate">
    <div class="container">

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="home">E-Learning Recommendations</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{'/view_profile/' + ${self.cts_id}}">View Profile</a>
                            <a class="dropdown-item" href="edit_profile">Edit Profile</a>
                            <a class="dropdown-item" download="E_LEARNING_REC_MANUAL.pdf" th:href="@{/download_manual}">Help</a>
                        </div>
                    </li>

                    <li class="nav-item active dropdown" th:if="${admin ne null}">
                        <a class="nav-link dropdown-toggle" href="#" id="adminNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="user_management">User Management</a>
                        </div>
                    </li>

                    <!--- CHANGE PASSWORD -->
                    <li class="nav-item">
                        <a class="nav-link" href="change_password">
                            <i class="fas fa-asterisk" title="Change Password" data-toggle="tooltip" data-placement="bottom" data-original-title="Change Password"></i>
                        </a>
                    </li>

                    <!--- LOGOUT -->
                    <li class="nav-item">
                        <form id="my_form" th:action="@{/logout}" method="post">
                            <a class="nav-link" href="javascript:{}" onclick="document.getElementById('my_form').submit();">
                                <i class="fas fa-sign-out-alt" title="Logout" data-toggle="tooltip" data-placement="bottom" data-original-title="Sign Out"></i>
                            </a>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
        <div class="container mt-5 p-5 my-5">
            <div class="row my-3">
                <div class="col border-bottom border-primary">
                    <h1>E-Learning Recommendations</h1>
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <h2>Home</h2>
                </div>
            </div>

            <div class="alert alert-danger alert-dismissible mt-4 mb-3" th:if="${result ne null}">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p th:text="${result}"></p>
            </div>

            <form method="post" th:action="@{/search_user}" th:object="${criteria}">
                <div class="row py-3">
                    <div class="col">
                        <label>Search User</label>
                        <input th:field="*{searchTerm}" autofocus type="text" class="form-control" placeholder="Enter Search Term"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-right">
                        <button type="submit" name="userSearchSubmission" id="submit" class="btn btn-outline-primary mb-2">Search</button>
                    </div>
                </div>
            </form>

            <table class="table table-hover mt-4" th:if="${searchResults ne null}">
                <thead class="thead-light">
                    <tr>
                        <th scope="col"> CTS-ID </th>
                        <th scope="col"> First Name </th>
                        <th scope="col"> Last Name </th>
                        <th scope="col"> Actions </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="r : ${searchResults}">
                        <td scope="row"><span th:text="${r.cts_id}"> CTS-ID </span></td>
                        <td><span th:text="${r.prename}"> First Name </span></td>
                        <td><span th:text="${r.lastname}"> Last Name </span></td>
                        <td><a th:href="@{'/view_profile/' + ${r.cts_id}}">View</a></td>
                    </tr>
                </tbody>
            </table>

            <div class="col border-bottom border-primary mt-5">
                <h2>People You May Know</h2>
            </div>

            <div class="alert alert-danger alert-dismissible mt-4 mb-3" th:if="${message ne null}">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p th:text="${message}"></p>
            </div>

            <table class="table table-hover mt-4" th:if="${users!=null and !users.empty}">
                <thead class="thead-light">
                <tr>
                    <th scope="col"> CTS-ID </th>
                    <th scope="col"> First Name </th>
                    <th scope="col"> Last Name </th>
                    <th scope="col"> Actions </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${users}">
                    <td scope="row"><span th:text="${c.cts_id}"> CTS-ID </span></td>
                    <td><span th:text="${c.prename}"> First Name </span></td>
                    <td><span th:text="${c.lastname}"> Last Name </span></td>
                    <td><a th:href="@{'/view_profile/' + ${c.cts_id}}">View</a></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>