<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-Learning Rec. | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://resources.ctsapprentice.ch/css/main/bootstrap.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="icon" href="https://resources.ctsapprentice.ch/images/icon/cts.ico">
</head>
<body data-aos="fade-up" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0" class="aos-init aos-animate">
    <div class="container">
    <br>
        <div class="container mt-5 p-5 my-5">
            <div class="row my-5">
                <div class="col border-bottom border-primary">
                    <h1>E-Learning Recommendations</h1>
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <h2>Sign In</h2>
                </div>
            </div>

            <div class="alert alert-dismissible alert-danger mt-2 mb-2" th:if="${param.error}">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>Invalid username or password.</p>
            </div>

            <div class="alert alert-dismissible alert-danger mt-2 mb-2" th:if="${message ne null}">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p th:text="${message}"></p>
            </div>

            <div class="alert alert-dismissible alert-success mt-2 mb-2" th:if="${registration_success ne null}">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p th:text="${registration_success}"></p>
            </div>

            <form method="post" th:action="@{/login}">
                <div class="row py-3">
                    <div class="col-sm-12 col-md-6 col-lg-6 mb-4">
                        <label  class="font-weight-bold">Cognizant ID</label>
                        <input id="username" name="username" autofocus type="text" class="form-control" maxlength="6" minlength="6" placeholder="Enter CTS-ID"/>
                        <small class="form-text text-muted">Your 6 digit employee ID</small>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <label  class="font-weight-bold">Password</label>
                        <input id="password" name="password" type="password" class="form-control" placeholder="Enter Password" maxlength="56"/>
                        <small id="passwordHelp" class="form-text text-muted">If you have problems with your password, please contact <a href="mailto:elijon.berisha@cognizant.com">elijon.berisha@cognizant.com.</a></small>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                        <p>No Account yet? Sign Up <a href="register">here</a></p>
                    </div>
                    <div class="col text-right">
                        <button type="submit" name="loginSubmission" id="submit" class="btn btn-outline-primary">Sign In</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>