<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-Learning Rec. | View Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://resources.ctsapprentice.ch/css/main/bootstrap.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="icon" href="https://resources.ctsapprentice.ch/images/icon/cts.ico">
</head>
<body data-aos="fade-up" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0" class="aos-init aos-animate">
    <div class="container">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="home">E-Learning Recommendations</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{'/view_profile/' + ${self.cts_id}}">View Profile</a>
                            <a class="dropdown-item" href="edit_profile">Edit Profile</a>
                            <a class="dropdown-item" download="E_LEARNING_REC_MANUAL.pdf" th:href="@{/download_manual}">Help</a>
                        </div>
                    </li>

                    <li class="nav-item active dropdown" th:if="${admin ne null}">
                        <a class="nav-link dropdown-toggle" href="#" id="adminNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="user_management">User Management</a>
                        </div>
                    </li>

                    <!--- CHANGE PASSWORD -->
                    <li class="nav-item">
                        <a class="nav-link" href="change_password">
                            <i class="fas fa-asterisk" title="Change Password" data-toggle="tooltip" data-placement="bottom" data-original-title="Change Password"></i>
                        </a>
                    </li>

                    <!--- LOGOUT -->
                    <li class="nav-item">
                        <form id="my_form" th:action="@{/logout}" method="post">
                            <a class="nav-link" href="javascript:{}" onclick="document.getElementById('my_form').submit();">
                                <i class="fas fa-sign-out-alt" title="Logout" data-toggle="tooltip" data-placement="bottom" data-original-title="Sign Out"></i>
                            </a>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
        <div class="container mt-5 p-5 my-3">
            <div class="row my-3">
                <div class="col border-bottom border-primary">
                    <h1>E-Learning Recommendations</h1>
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <h2>User: <span th:text="${user.cts_id}"> NR </span></h2>
                </div>
            </div>

            <div class="row mt-5 mb-4">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <p class="font-weight-bold">Last Name:</p>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <input th:value="${user.lastname}" disabled type="text" class="form-control" placeholder="Last Name">
                </div>
            </div>

            <div class="row mt-2 mb-4">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <p class="font-weight-bold">First Name:</p>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <input th:value="${user.prename}" disabled type="text" class="form-control" placeholder="First Name">
                </div>
            </div>

            <div class="row mt-2 mb-4">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <p class="font-weight-bold">Cognizant Mail:</p>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <input th:value="${user.email}" disabled type="text" class="form-control" placeholder="Mail">
                </div>
            </div>

            <div class="row mt-2 mb-4" th:if="${role ne null}">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <p class="font-weight-bold">Role:</p>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <input th:value="${role}" disabled type="text" class="form-control" placeholder="Role">
                </div>
            </div>

            <div class="row mt-2 mb-4" th:if="${degreed ne null}">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <p class="font-weight-bold">Favorite Degreed Article:</p>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <input th:value="${degreed}" disabled type="text" class="form-control" placeholder="Link">
                </div>
            </div>

            <div class="row mt-2 mb-4" th:if="${oreilly ne null}">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <p class="font-weight-bold">Favorite O'Reilly Book:</p>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <input th:value="${oreilly}" disabled type="text" class="form-control" placeholder="Link">
                </div>
            </div>

            <div class="row mt-2 mb-4" th:if="${youtube ne null}">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <p class="font-weight-bold">Favorite YouTube Tutorial:</p>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <input th:value="${youtube}" disabled type="text" class="form-control" placeholder="Link">
                </div>
            </div>
            <hr>
            <div class="row mt-4" th:if="${w3schoolsList!= null and !w3schoolsList.empty}">
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <p class="font-weight-bold">Favorite W3Schools Articles:</p>
                </div>
            </div>
            <div class="row mb-1 mt-2" th:if="${w3schoolsList!= null and !w3schoolsList.empty}" th:each="w : ${w3schoolsList}">
                <div class="col-lg-5 col-md-12 col-sm-12 mb-2">
                    <p class="font-weight-bold"></p>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <input th:value="${w}" disabled type="text" class="form-control" placeholder="Link">
                </div>
            </div>
            <hr>
            <div class="row mt-4" th:if="${udemyList!= null and !udemyList.empty}">
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <p class="font-weight-bold">Favorite Udemy Trainings:</p>
                </div>
            </div>
            <div class="row mb-1 mt-2" th:if="${udemyList!= null and !udemyList.empty}" th:each="u : ${udemyList}">
                <div class="col-lg-5 col-md-12 col-sm-12 mb-2">
                    <p class="font-weight-bold"></p>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <input th:value="${u}" disabled type="text" class="form-control" placeholder="Link">
                </div>
            </div>
            <hr>
            <div class="row mt-4" th:if="${tedList!= null and !tedList.empty}">
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <p class="font-weight-bold">Favorite TED-Talks:</p>
                </div>
            </div>
            <div class="row mb-1 mt-2" th:if="${tedList!= null and !tedList.empty}" th:each="t : ${tedList}">
                <div class="col-lg-5 col-md-12 col-sm-12 mb-2">
                    <p class="font-weight-bold"></p>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <input th:value="${t}" disabled type="text" class="form-control" placeholder="Link">
                </div>
            </div>

        </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>